.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

atl-analysis/Data/
atl-analysis/Params/
atl-analysis/Results/Models/
atl-analysis/Results/Archive/
atl-analysis/HPC/Error/
atl-analysis/HPC/Output/

sim-study/Results/temp/
sim-study/HPC/Error/
sim-study/HPC/Output/

*.out
*.err
